@{
    ViewBag.Title = "Contact";
}


<div id="contacts-tabstrip">
 
   
    <ul>
        <li class="k-state-active">
            Officers
        </li>
        <li>
            SDELC
        </li>
    </ul>
    <div>
        <p>

            You can reach us mstrobotics@mst.edu. Alternatively, our officer’s contact information is listed below.<br />
            <br />
            <b>Chief Executive Officer:</b><br />
            Caleb Jett<br />
            ccj7c5@mst.edu<br />
            <br />
            <b>Chief Technical Officer:</b><br />
            Ben Wilt<br />
            bewgg3@mst.edu<br />
            <br />
            <b>Chief Operational Officer:</b><br />
            Sean Martin<br />
            stm3h8@mst.edu<br />
            <br />
            <b>Chief Financial Officer:</b><br />
            Caleb Jett <br />
            ccj7c5@mst.edu <br />
            <br />
            <b>Competition Lead</b> <br />
            Jack Kufa <br />
            jhkmw3@mst.edu <br />
            <br />
            <b>Computing Division Lead</b> <br />
            Tamara Spivey <br />
            tjsxz4@mst.edu <br />
            <br />
            <b>Electrical Division Lead </b><br />
            Cameron Knapp <br />
            cwkmbp@mst.edu <br />
            <br />
            <b>Mechanical Division Lead </b><br />
            Cody Pepple <br />
            cfpymf@mst.edu <br />
        </p>
    </div>
    <div>
        <p>
            <b>STUDENT DESIGN AND EXPERIENTIAL LEARNING CENTER </b><br />
            1051 N. Bishop Ave.<br />
            116 Kummer Student Design Center<br />
            Rolla, MO 65409-1410<br />
            Phone 573-341-7597 Fax: 573-341-443<br />
        </p>
        
    </div>
</div>
<script>
    $(function () {
        $("#contacts-tabstrip").kendoTabStrip();
    });
</script>