
@{
    ViewBag.Title = "Sponsors";
}

<h2>Sponsors</h2>
<div id="contacts-tabstrip">



    <ul>
        <li class="k-state-active">
            Sponsors
        </li>
        <li>
            How to Donate
        </li>
    </ul>
    <div>
        We’d like to say thank you to the following people for helping us fund the way to our 2018 competition:<br />

        <ul style="list-style-type:disc;">
            <li>Ryan Loeffelman</li>
            <li>Joel Goodridge</li>
            <li>Mario Sevilla</li>
            <li>Roger Jett</li>
            <li>Cristina Peters</li>
            <li>Jennifer Smith</li>
            <li>Cameron Scholten</li>
            <li>Kathy and Ken Schmidt</li>
            <li>James Anderson</li>
            <li>Kimberly Upschulte</li>
            <li>Bonnie Bachman</li>
            <li>Siiri Gilness</li>
            <li>Roy Jacobs</li>
            <li>Donna Larson</li>
            <li>Kristie Gibbs</li>
            <li>Michael Muldoon</li>
            <li>Matthew Anderson</li>
        </ul>
    </div>
    <div>
        <b>How to Easily Donate To the Underwater Robotics Team:</b><br />
        <ul style="list-style-type:disc">
            <li>Go to the <a href="https://securelb.imodules.com/s/1322/bp19/interior.aspx?sid=1322&gid=38&pgid=1650"> S&T Donation Page</a>.</li>
            <li>Select our team from from the list of Designations as shown here:<br/>
                <img src="~/images/sponsors.png" alt="Sample Photo" /></li>
            <li>Enter your donation amount and payment information and submit the form.</li>
        </ul>
        
    </div>
</div>
<script>
    $(function () {
        $("#contacts-tabstrip").kendoTabStrip();
    });
</script>
