$base-theme:Bootstrap;
$skin-name:URT;
$swatch-name:Bootstrap;
$border-radius: 0.25rem;
$accent: #0000aa;
$secondary: #b8d1ef;
$info: #17a2b8;
$success: #28a745;
$warning: #ffc107;
$error: #dc3545;
$body-bg: #f2f6fc;
$body-color: #0e152d;
$component-bg: #f2f6fc;
$component-color: #0e152d;
$card-cap-bg: #0000aa;
$card-cap-color: #efdcda;
$series-a: #0275d8;
$series-b: #5bc0de;
$series-c: #5cb85c;
$series-d: #f0ad4e;
$series-e: #e67d4a;
$series-f: #d9534f;
